:root {

    /*cores*/
    --white: #ffffff;
    --gray: #d9d9d9;
    --black: #011001;
    
    --primary-color: #0074D9;
    --secondary-color: #02073e;
    --dark-secondary-color: #3c415c;
    --tertiary-color: #12073e;
    
    --title: #02073e;
    --text-color: #343d48;
    
    --light-tertiary-color: #f3f6fb;
    --light-blue: #3498db;
    --light-green: #99DDAE;
    --light-green-shadow: #46e191;
    
    --background: #E8F0FE;
    
    /*fontes*/
    --font-family: 'DM Sans', sans-serif;
    --title-logo: 'Lexend Deca', sans-serif;
    --title-font: 'Lexend Deca', sans-serif;
  
    /** tamanho da fonte **/
    --base-font-size: 16px;
    --heading-font-size: 3rem;
    --subheading-font-size: 2rem;
    --paragraph-font-size: 1rem;
    --button-font-size: 1.1rem;
  }
  