/* style.css */

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Configurações de Responsividade */
body {
    background-color: var(--light-gray);
    color: var(--black);
}

/* Estilos do Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
    z-index: 99999999999999999;
}



nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* Seção Hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--white);
}

/* Carrossel */
.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

.carousel-inner {
    display: flex;
    width: 100%;
    height: 100%;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botões de Navegação */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: var(--white);
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

/* Texto da Hero */
.hero-text button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: var(--highlight-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 2rem;
}

.hero-text button:hover {
    background-color: var(--accent-color);
}

/* Responsividade */
@media (max-width: 768px) {
    .hero-text h2 {
        font-size: 1.5rem;
    }

    .carousel {
        height: 200px;
    }
}

@media (max-width: 480px) {
    .hero-text h2 {
        font-size: 1.2rem;
    }

    .carousel {
        height: 150px;
    }
}
