:root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
    --rpx: 100vw / 1440;
  }
  
  .main-container {
    overflow: hidden;
  }
  
  .main-container,
  .main-container * {
    box-sizing: border-box;
  }
  
  input,
  select,
  textarea,
  button {
    outline: 0;
  }
  
  .main-container {
    position: relative;
    width: calc(1440 * var(--rpx));
    height: calc(4158 * var(--rpx));
    margin: 0 auto;
    background: #e8f0fe;
    overflow: hidden;
  }
  .rectangle {
    position: relative;
    width: calc(1440 * var(--rpx));
    height: calc(112 * var(--rpx));
    margin: calc(-1 * var(--rpx)) 0 0 0;
    background: #0074d9;
    z-index: 47;
  }
  .logo-edu {
    position: absolute;
    width: 4.26%;
    height: 56.25%;
    top: 21.43%;
    left: 1.53%;
    background: url(./assets/images/64a05f9a-ccfa-4f44-879b-3f612579f36b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 67;
  }
  .edu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6.11%;
    height: 50%;
    top: 25%;
    left: 5.76%;
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(45 * var(--rpx));
    font-weight: 700;
    line-height: calc(56 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 52;
  }
  .line {
    position: absolute;
    width: 0.07%;
    height: 41.96%;
    top: 28.57%;
    left: 75.9%;
    background: url(./assets/images/cfe590a7-4413-4764-b04b-0ad3ad3925c4.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 53;
  }
  .rectangle-1 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(45 * var(--rpx));
    top: calc(34 * var(--rpx));
    left: calc(722 * var(--rpx));
    background: #ececec;
    z-index: 56;
    border-radius: calc(20 * var(--rpx));
  }
  .search {
    position: absolute;
    width: calc(110 * var(--rpx));
    height: calc(25 * var(--rpx));
    top: calc(10 * var(--rpx));
    left: calc(9 * var(--rpx));
    color: #5d5b64;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    z-index: 57;
    overflow: hidden;
  }
  .vector {
    position: absolute;
    width: 8.63%;
    height: 48.89%;
    top: 24.44%;
    left: 86.27%;
    background: url(./assets/images/eca702b1-c884-4f2b-a8d4-a267942ab143.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 58;
  }
  .register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 6.81%;
    height: 22.32%;
    top: 39.29%;
    left: 87.92%;
    color: #ffffff;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 51;
  }
  .contact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5.56%;
    height: 22.32%;
    top: 39.29%;
    left: 34.17%;
    color: #ffffff;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 49;
  }
  .login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 5.56%;
    height: 22.32%;
    top: 39.29%;
    left: 80.21%;
    color: #ffffff;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    text-decoration: underline;
    white-space: nowrap;
    z-index: 50;
  }
  .courses {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4.79%;
    height: 22.32%;
    top: 39.29%;
    left: 24.79%;
    color: #ffffff;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 64;
  }
  .about-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 4.03%;
    height: 22.32%;
    top: 39.29%;
    left: 16.18%;
    color: #ffffff;
    font-family: Merriweather, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 700;
    line-height: calc(25 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 60;
  }
  .chevron-down {
    position: absolute;
    width: 1.67%;
    height: 21.43%;
    top: 41.07%;
    left: 20.21%;
    z-index: 61;
    overflow: hidden;
  }
  .vector-3 {
    position: relative;
    width: calc(14 * var(--rpx));
    height: calc(8 * var(--rpx));
    margin: calc(8 * var(--rpx)) 0 0 calc(5 * var(--rpx));
    background: url(./assets/images/edb8ff50-fd14-4d0d-b80f-cfb98804e83a.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 62;
  }
  .chevron-down-4 {
    position: absolute;
    width: 1.67%;
    height: 21.43%;
    top: 41.07%;
    left: 29.58%;
    z-index: 65;
    overflow: hidden;
  }
  .vector-5 {
    position: relative;
    width: calc(14 * var(--rpx));
    height: calc(8 * var(--rpx));
    margin: calc(8 * var(--rpx)) 0 0 calc(5 * var(--rpx));
    background: url(./assets/images/f4d5d6da-2961-4e8f-a1ba-e5059b52a94b.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 66;
  }
  .banner-rectangle {
    position: relative;
    width: calc(1440 * var(--rpx));
    height: calc(767 * var(--rpx));
    margin: 0 0 0 0;
    background: #161616;
    z-index: 6;
    overflow: visible auto;
  }
  .logo-gov-sp {
    position: relative;
    width: calc(206 * var(--rpx));
    height: calc(38 * var(--rpx));
    margin: calc(5 * var(--rpx)) 0 0 calc(7 * var(--rpx));
    background: url(./assets/images/007cbfc04746f30a74ea00dc0d052aff376a1aad.png)
      no-repeat center;
    background-size: cover;
    z-index: 89;
  }
  .flex-row-cc {
    position: relative;
    width: calc(1037 * var(--rpx));
    height: calc(571 * var(--rpx));
    margin: calc(154 * var(--rpx)) 0 0 calc(144 * var(--rpx));
    z-index: 17;
  }
  .ellipse {
    position: absolute;
    width: calc(366 * var(--rpx));
    height: calc(570 * var(--rpx));
    top: 0;
    left: calc(83 * var(--rpx));
    background: url(./assets/images/bb0702b4-6cce-442b-9082-0e548654fd19.png)
      no-repeat center;
    background-size: cover;
    z-index: 14;
  }
  .duda-img {
    position: absolute;
    width: calc(496 * var(--rpx));
    height: calc(534 * var(--rpx));
    top: calc(35 * var(--rpx));
    left: 0;
    font-size: 0px;
    background: url(./assets/images/865d0adb-aadf-4596-b606-5daca8ba4317.png)
      no-repeat center;
    background-size: cover;
    z-index: 17;
  }
  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(142 * var(--rpx));
    height: calc(78.03733825683594 * var(--rpx));
    margin: calc(108.50466918945312 * var(--rpx)) 0 0 calc(199 * var(--rpx));
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(68 * var(--rpx));
    font-weight: 700;
    line-height: calc(78.03733825683594 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 12;
  }
  .img-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(142 * var(--rpx));
    height: calc(121.53356170654297 * var(--rpx));
    margin: calc(1.9488677978515625 * var(--rpx)) 0 0 calc(199 * var(--rpx));
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(68 * var(--rpx));
    font-weight: 700;
    line-height: calc(81.60000610351562 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 15;
  }
  .adaptar-se-meios {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    width: calc(395 * var(--rpx));
    height: calc(96 * var(--rpx));
    top: calc(159 * var(--rpx));
    left: calc(642 * var(--rpx));
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(38 * var(--rpx));
    font-weight: 800;
    line-height: calc(47.5 * var(--rpx));
    text-align: left;
    text-overflow: initial;
    z-index: 16;
    overflow: hidden;
  }
  .chevron-down-7 {
    position: absolute;
    width: calc(76 * var(--rpx));
    height: calc(76 * var(--rpx));
    top: calc(495 * var(--rpx));
    left: 50%;
    transform: translate(25.66%, 0);
    z-index: 8;
    overflow: hidden;
  }
  .vector-8 {
    position: relative;
    width: calc(42 * var(--rpx));
    height: calc(23 * var(--rpx));
    margin: calc(26.5 * var(--rpx)) 0 0 calc(17 * var(--rpx));
    background: url(./assets/images/c281c055-7f53-47f0-a6f9-879cc57e4122.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 9;
  }
  .rectangle-9 {
    position: relative;
    width: calc(1440 * var(--rpx));
    height: calc(349 * var(--rpx));
    margin: calc(-1 * var(--rpx)) 0 0 0;
    font-size: 0px;
    background: #282828;
    z-index: 4;
    overflow: visible auto;
  }
  .quem-somos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(217 * var(--rpx));
    height: calc(38 * var(--rpx));
    margin: calc(33 * var(--rpx)) 0 0 calc(104 * var(--rpx));
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(30 * var(--rpx));
    font-weight: 700;
    line-height: calc(37.5 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 3;
  }
  .na-edu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    width: calc(1232 * var(--rpx));
    height: calc(175 * var(--rpx));
    margin: calc(32 * var(--rpx)) 0 0 calc(104 * var(--rpx));
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 400;
    line-height: calc(25 * var(--rpx));
    text-align: left;
    z-index: 4;
  }
  .motivacao-tarefas-digitais {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(652 * var(--rpx));
    height: calc(38 * var(--rpx));
    margin: calc(162 * var(--rpx)) 0 0 calc(394 * var(--rpx));
    color: #1e1a4e;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(30 * var(--rpx));
    font-weight: 700;
    line-height: calc(37.5 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 18;
  }
  .fundacao-edu {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(736 * var(--rpx));
    height: calc(175 * var(--rpx));
    margin: calc(70 * var(--rpx)) 0 0 calc(352 * var(--rpx));
    color: #1e1a4e;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(20 * var(--rpx));
    font-weight: 400;
    line-height: calc(25 * var(--rpx));
    text-align: justified;
    z-index: 19;
  }
  .propostas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: calc(249 * var(--rpx));
    height: calc(50 * var(--rpx));
    margin: calc(353 * var(--rpx)) 0 0 calc(181 * var(--rpx));
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(40 * var(--rpx));
    font-weight: 700;
    line-height: calc(50 * var(--rpx));
    text-align: center;
    white-space: nowrap;
    z-index: 21;
  }
  .plataforma-aprendizado {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: calc(682 * var(--rpx));
    height: calc(320 * var(--rpx));
    margin: calc(45 * var(--rpx)) 0 0 calc(189 * var(--rpx));
    color: #ffffff;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(27 * var(--rpx));
    font-weight: 700;
    line-height: calc(64 * var(--rpx));
    text-align: left;
    text-overflow: initial;
    z-index: 20;
    overflow: hidden;
  }
  .equipe {
    display: flex;
    align-items: center;
    position: relative;
    width: calc(164 * var(--rpx));
    height: calc(50 * var(--rpx));
    margin: calc(328 * var(--rpx)) 0 0 calc(648 * var(--rpx));
    color: #000000;
    font-family: Lexend Deca, var(--default-font-family);
    font-size: calc(40 * var(--rpx));
    font-weight: 700;
    line-height: calc(50 * var(--rpx));
    text-align: justified;
    white-space: nowrap;
    z-index: 22;
  }
  .flex-row-fdd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(874 * var(--rpx));
    height: calc(241 * var(--rpx));
    margin: calc(79 * var(--rpx)) 0 0 calc(283 * var(--rpx));
    z-index: 26;
  }
  .ellipse-a {
    flex-shrink: 0;
    position: relative;
    width: calc(241 * var(--rpx));
    height: calc(241 * var(--rpx));
    background: url(./assets/images/746aeba2-b7a5-405f-92ee-f34f1d0b6532.png)
      no-repeat center;
    background-size: cover;
    z-index: 24;
    border-radius: 50%;
  }
  .ellipse-b {
    flex-shrink: 0;
    position: relative;
    width: calc(240 * var(--rpx));
    height: calc(241 * var(--rpx));
    background: url(./assets/images/c0138205-ca5a-406a-a5ea-84694ecf185e.png)
      no-repeat center;
    background-size: cover;
    z-index: 25;
  }
  .ellipse-c {
    flex-shrink: 0;
    position: relative;
    width: calc(241 * var(--rpx));
    height: calc(241 * var(--rpx));
    background: url(./assets/images/158a9914-c366-4e2f-9e59-3c38805d2eb7.png)
      no-repeat center;
    background-size: cover;
    z-index: 26;
    border-radius: 50%;
  }
  .flex-row-e {
    position: relative;
    width: calc(885 * var(--rpx));
    height: calc(48 * var(--rpx));
    margin: calc(57 * var(--rpx)) 0 0 calc(279 * var(--rpx));
    z-index: 43;
  }
  .daniel {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(115 * var(--rpx));
    height: calc(48 * var(--rpx));
    top: 0;
    left: calc(67 * var(--rpx));
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(40 * var(--rpx));
    font-weight: 700;
    line-height: calc(48 * var(--rpx));
    text-align: justified;
    white-space: nowrap;
    z-index: 28;
  }
  .edson {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(109 * var(--rpx));
    height: calc(48 * var(--rpx));
    top: 0;
    left: calc(381 * var(--rpx));
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(40 * var(--rpx));
    font-weight: 700;
    line-height: calc(48 * var(--rpx));
    text-align: justified;
    white-space: nowrap;
    z-index: 34;
  }
  .nicolas {
    display: flex;
    align-items: center;
    position: absolute;
    width: calc(131 * var(--rpx));
    height: calc(48 * var(--rpx));
    top: 0;
    left: calc(697 * var(--rpx));
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(40 * var(--rpx));
    font-weight: 700;
    line-height: calc(48 * var(--rpx));
    text-align: justified;
    white-space: nowrap;
    z-index: 40;
  }
  .line-d {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: 0;
    background: url(./assets/images/dbb8361c-64a4-4cb4-aa95-d5ff623a4430.png)
      no-repeat center;
    background-size: cover;
    z-index: 29;
  }
  .line-e {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: 0;
    background: url(./assets/images/11173a10-f15c-4378-9db2-4d3e5c1a7944.png)
      no-repeat center;
    background-size: cover;
    z-index: 30;
  }
  .line-f {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: 0;
    background: url(./assets/images/ae3c7ad5-1e96-4923-a1ec-177eb41425af.png)
      no-repeat center;
    background-size: cover;
    z-index: 31;
  }
  .line-10 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(314 * var(--rpx));
    background: url(./assets/images/9023fcd9-eb13-4f42-945f-f9a62ca26257.png)
      no-repeat center;
    background-size: cover;
    z-index: 35;
  }
  .line-11 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(314 * var(--rpx));
    background: url(./assets/images/28d0a056-c16e-4428-a16d-44a62e5dca27.png)
      no-repeat center;
    background-size: cover;
    z-index: 36;
  }
  .line-12 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(314 * var(--rpx));
    background: url(./assets/images/d4ced873-078d-4070-875b-d1e7b47df624.png)
      no-repeat center;
    background-size: cover;
    z-index: 37;
  }
  .line-13 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(630 * var(--rpx));
    background: url(./assets/images/d546bef8-8bba-41e1-bcda-82774b11cf73.png)
      no-repeat center;
    background-size: cover;
    z-index: 41;
  }
  .line-14 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(630 * var(--rpx));
    background: url(./assets/images/14a25e00-79c7-4512-86a8-d90fdbc8fb3b.png)
      no-repeat center;
    background-size: cover;
    z-index: 42;
  }
  .line-15 {
    position: absolute;
    width: calc(255 * var(--rpx));
    height: calc(1 * var(--rpx));
    top: calc(47 * var(--rpx));
    left: calc(630 * var(--rpx));
    background: url(./assets/images/f2956132-ff65-49e4-8f07-4ac25b564b82.png)
      no-repeat center;
    background-size: cover;
    z-index: 43;
  }
  .flex-row-b {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(877 * var(--rpx));
    height: calc(161 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 calc(283 * var(--rpx));
    z-index: 44;
  }
  .lorem-ipsum-dolor {
    flex-shrink: 0;
    position: relative;
    width: calc(247 * var(--rpx));
    height: calc(161 * var(--rpx));
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
    z-index: 32;
  }
  .lorem-ipsum {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .lorem-ipsum-16 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor-17 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .consectetur-adipiscing-elit {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .lorem-ipsum-dolor-18 {
    flex-shrink: 0;
    position: relative;
    width: calc(247 * var(--rpx));
    height: calc(161 * var(--rpx));
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
    z-index: 38;
  }
  .lorem-ipsum-19 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor-1a {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .lorem-ipsum-1b {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor-1c {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .consectetur-adipiscing-elit-1d {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .lorem-ipsum-dolor-1e {
    flex-shrink: 0;
    position: relative;
    width: calc(247 * var(--rpx));
    height: calc(161 * var(--rpx));
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
    z-index: 44;
  }
  .lorem-ipsum-1f {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor-20 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .lorem-ipsum-21 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .dolor-22 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 800;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .consectetur-adipiscing-elit-23 {
    position: relative;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(19 * var(--rpx));
    font-weight: 400;
    line-height: calc(22.80000114440918 * var(--rpx));
    text-align: justified;
  }
  .rectangle-24 {
    position: relative;
    width: calc(1440 * var(--rpx));
    height: calc(474 * var(--rpx));
    margin: calc(271 * var(--rpx)) 0 0 0;
    background: #282828;
    z-index: 69;
    overflow: visible auto;
  }
  .flex-row {
    position: relative;
    width: calc(872 * var(--rpx));
    height: calc(29 * var(--rpx));
    margin: calc(47 * var(--rpx)) 0 0 calc(103 * var(--rpx));
    z-index: 82;
  }
  .educar-a-mente {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: #6c6c6c;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 82;
  }
  .menu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 75.86%;
    top: 0;
    left: 70.76%;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 800;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 77;
  }
  .suporte {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 75.86%;
    top: 0;
    left: 90.48%;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 800;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 80;
  }
  .flex-row-cf {
    position: relative;
    width: calc(894 * var(--rpx));
    height: calc(43 * var(--rpx));
    margin: calc(7 * var(--rpx)) 0 0 calc(103 * var(--rpx));
    z-index: 84;
  }
  .rectangle-25 {
    position: absolute;
    width: 15.44%;
    height: 100%;
    top: 0;
    left: 0;
    background: #25b0a3;
    border: calc(1 * var(--rpx)) solid #000000;
    z-index: 84;
    border-radius: calc(20 * var(--rpx));
  }
  .feedback {
    position: absolute;
    width: 23.91%;
    height: 76.74%;
    top: 9.3%;
    left: 65.22%;
    z-index: 86;
    overflow: hidden;
  }
  .vector-26 {
    position: relative;
    width: calc(25.079999923706055 * var(--rpx));
    height: calc(19.799999237060547 * var(--rpx));
    margin: calc(6.60009765625 * var(--rpx)) 0 0
      calc(3.96002197265625 * var(--rpx));
    background: url(./assets/images/c7b043ce-c662-4a22-9907-ff82e3fda975.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 87;
  }
  .feedback-text {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 51.16%;
    top: 20.93%;
    left: 9.42%;
    color: #000000;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 85;
  }
  .inicio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 51.16%;
    top: 13.95%;
    left: 69.02%;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 400;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 76;
  }
  .fale-conosco {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    height: 51.16%;
    top: 13.95%;
    left: 88.26%;
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 400;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 79;
  }
  .sobre {
    display: block;
    position: relative;
    height: calc(22 * var(--rpx));
    margin: calc(5 * var(--rpx)) 0 0 calc(720 * var(--rpx));
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 400;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 73;
  }
  .cursos {
    display: block;
    position: relative;
    height: calc(22 * var(--rpx));
    margin: calc(20 * var(--rpx)) 0 0 calc(720 * var(--rpx));
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 400;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 74;
  }
  .contato {
    display: block;
    position: relative;
    height: calc(22 * var(--rpx));
    margin: calc(20 * var(--rpx)) 0 0 calc(720 * var(--rpx));
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 400;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 75;
  }
  .line-27 {
    position: relative;
    width: calc(1232 * var(--rpx));
    height: calc(1 * var(--rpx));
    margin: calc(61 * var(--rpx)) 0 0 calc(104 * var(--rpx));
    background: url(./assets/images/13e6ecb2-171f-4b30-b8af-12d8bc259d2e.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 70;
  }
  .flex-row-acbd {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: calc(789 * var(--rpx));
    height: calc(78 * var(--rpx));
    margin: calc(10 * var(--rpx)) 0 0 calc(103 * var(--rpx));
    z-index: 88;
  }
  .logo-edu-28 {
    flex-shrink: 0;
    position: relative;
    width: calc(76 * var(--rpx));
    height: calc(78 * var(--rpx));
    background: url(./assets/images/d1e7808d-8238-4fff-b0a2-8561585a69dd.png)
      no-repeat center;
    background-size: 100% 100%;
    z-index: 88;
  }
  .copyright-edu-digital-unificada {
    flex-shrink: 0;
    position: relative;
    height: calc(22 * var(--rpx));
    color: #ffffff;
    font-family: Lato, var(--default-font-family);
    font-size: calc(18 * var(--rpx));
    font-weight: 700;
    line-height: calc(21.600000381469727 * var(--rpx));
    text-align: left;
    white-space: nowrap;
    z-index: 71;
  }
  .rectangle-29 {
    position: absolute;
    width: calc(1440 * var(--rpx));
    height: calc(649 * var(--rpx));
    top: calc(1907 * var(--rpx));
    left: 0;
    background: url(./assets/images/51e06a7b-3b29-4251-a8ae-b66ff14fad19.png)
      no-repeat center;
    background-size: cover;
  }
  