.contato,
.contato * {
  box-sizing: border-box;
}
.contato {
  background: #e8f0fe;
  height: 2476px;
  position: relative;
  overflow: hidden;
}
.group-225 {
  position: absolute;
  inset: 0;
}
.header {
  width: 100%;
  height: 111px;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0px;
  overflow: hidden;
}
.retangle-white {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.frame-7 {
  display: flex;
  flex-direction: row;
  gap: 365px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 22px;
  top: 24px;
}
.frame-3 {
  display: flex;
  flex-direction: row;
  gap: 62px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.edu {
  flex-shrink: 0;
  width: 149px;
  height: 63px;
  position: static;
}
.edu-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 149px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.logo-edu {
  flex-shrink: 0;
  width: 61.27px;
  height: 63px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.edu2 {
  color: #000000;
  text-align: center;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 45px;
  font-weight: 700;
  position: relative;
  width: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.options {
  flex-shrink: 0;
  width: 339px;
  height: 25px;
  position: static;
}
.options2 {
  display: flex;
  flex-direction: row;
  gap: 66px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 211px;
  top: 19px;
}
.sobre {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursos {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contato2 {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-6 {
  display: flex;
  flex-direction: row;
  gap: 116px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.searchbar {
  background: #f8f8f8;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.vector {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  position: relative;
  overflow: visible;
}
.pesquisar {
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  width: 110px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-5 {
  display: flex;
  flex-direction: row;
  gap: 62px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.line-divisor {
  margin-top: -1px;
  border-style: solid;
  border-color: #002866;
  border-width: 1px 0 0 0;
  flex-shrink: 0;
  width: 47px;
  height: 0px;
  position: relative;
  transform-origin: 0 0;
  transform: rotate(90deg) scale(1, 1);
}
.frame-4 {
  display: flex;
  flex-direction: row;
  gap: 31px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.entrar {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cadastrar {
  color: #000000;
  text-align: center;
  font-family: "Merriweather-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-126 {
  background: #282828;
  padding: 42px 125px 42px 125px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 458px;
  position: absolute;
  left: 0px;
  top: 111px;
}
.frame-125 {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 511px;
  position: relative;
}
.entre-em-contato-conosco {
  color: #ffffff;
  text-align: left;
  font-family: "LexendDeca-ExtraBold", sans-serif;
  font-size: 37px;
  font-weight: 800;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.no-messages {
  flex-shrink: 0;
  width: 474px;
  height: 373px;
  position: relative;
  overflow: hidden;
}
.vector2 {
  width: 53.42%;
  height: 67.82%;
  position: absolute;
  right: 22.71%;
  left: 23.87%;
  bottom: 16.09%;
  top: 16.09%;
  overflow: visible;
}
.vector3 {
  width: 79.66%;
  height: 60.63%;
  position: absolute;
  right: 10.17%;
  left: 10.17%;
  bottom: 19.89%;
  top: 19.48%;
  overflow: visible;
}
.vector4 {
  width: 4.25%;
  height: 5.39%;
  position: absolute;
  right: 71.75%;
  left: 24%;
  bottom: 44.98%;
  top: 49.62%;
  overflow: visible;
}
.vector5 {
  width: 2.2%;
  height: 2.8%;
  position: absolute;
  right: 70.85%;
  left: 26.95%;
  bottom: 40.91%;
  top: 56.29%;
  overflow: visible;
}
.vector6 {
  width: 2.2%;
  height: 2.8%;
  position: absolute;
  right: 73.84%;
  left: 23.96%;
  bottom: 36.72%;
  top: 60.48%;
  overflow: visible;
}
.vector7 {
  width: 3.15%;
  height: 4%;
  position: absolute;
  right: 75.68%;
  left: 21.17%;
  bottom: 41.38%;
  top: 54.63%;
  overflow: visible;
}
.vector8 {
  width: 4.25%;
  height: 5.39%;
  position: absolute;
  right: 31.5%;
  left: 64.26%;
  bottom: 63.78%;
  top: 30.82%;
  overflow: visible;
}
.vector9 {
  width: 2.2%;
  height: 2.8%;
  position: absolute;
  right: 37.16%;
  left: 60.64%;
  bottom: 64.81%;
  top: 32.39%;
  overflow: visible;
}
.vector10 {
  width: 2.2%;
  height: 2.8%;
  position: absolute;
  right: 39.11%;
  left: 58.69%;
  bottom: 69.89%;
  top: 27.32%;
  overflow: visible;
}
.vector11 {
  width: 3.15%;
  height: 4%;
  position: absolute;
  right: 33.94%;
  left: 62.91%;
  bottom: 70.07%;
  top: 25.93%;
  overflow: visible;
}
.vector12 {
  width: 32.88%;
  height: 32.24%;
  position: absolute;
  right: 35.65%;
  left: 31.46%;
  bottom: 40.16%;
  top: 27.61%;
  overflow: visible;
}
.vector13 {
  width: 32.88%;
  height: 30.19%;
  position: absolute;
  right: 35.65%;
  left: 31.46%;
  bottom: 27.61%;
  top: 42.2%;
  overflow: visible;
}
.vector14 {
  width: 32.88%;
  height: 16.36%;
  position: absolute;
  right: 35.65%;
  left: 31.46%;
  bottom: 27.61%;
  top: 56.04%;
  overflow: visible;
}
.vector15 {
  width: 10.99%;
  height: 13.95%;
  position: absolute;
  right: 63.04%;
  left: 25.97%;
  bottom: 53.62%;
  top: 32.43%;
  overflow: visible;
}
.vector16 {
  width: 0.57%;
  height: 6.45%;
  position: absolute;
  right: 68.25%;
  left: 31.18%;
  bottom: 58.71%;
  top: 34.84%;
  overflow: visible;
}
.vector17 {
  width: 1.04%;
  height: 1.36%;
  position: absolute;
  right: 68.02%;
  left: 30.94%;
  bottom: 56.02%;
  top: 42.62%;
  overflow: visible;
}
.vector18 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 20.86%;
  left: 74.17%;
  bottom: 59.29%;
  top: 40.71%;
  overflow: visible;
}
.vector19 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 20.86%;
  left: 74.17%;
  bottom: 57.47%;
  top: 42.53%;
  overflow: visible;
}
.vector20 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 20.86%;
  left: 74.17%;
  bottom: 55.65%;
  top: 44.35%;
  overflow: visible;
}
.vector21 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 72.36%;
  left: 22.68%;
  bottom: 28.08%;
  top: 71.92%;
  overflow: visible;
}
.vector22 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 72.36%;
  left: 22.68%;
  bottom: 26.26%;
  top: 73.74%;
  overflow: visible;
}
.vector23 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 72.36%;
  left: 22.68%;
  bottom: 24.45%;
  top: 75.55%;
  overflow: visible;
}
.vector24 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 58.47%;
  left: 36.56%;
  bottom: 74.96%;
  top: 25.04%;
  overflow: visible;
}
.vector25 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 58.47%;
  left: 36.56%;
  bottom: 73.14%;
  top: 26.86%;
  overflow: visible;
}
.vector26 {
  width: 4.97%;
  height: 0%;
  position: absolute;
  right: 58.47%;
  left: 36.56%;
  bottom: 71.32%;
  top: 28.68%;
  overflow: visible;
}
.vector27 {
  width: 4.25%;
  height: 5.39%;
  position: absolute;
  right: 17.28%;
  left: 78.47%;
  bottom: 30.46%;
  top: 64.14%;
  overflow: visible;
}
.vector28 {
  width: 2.2%;
  height: 2.8%;
  position: absolute;
  right: 23.91%;
  left: 73.89%;
  bottom: 29.81%;
  top: 67.39%;
  overflow: visible;
}
.vector29 {
  width: 3.15%;
  height: 4%;
  position: absolute;
  right: 20.64%;
  left: 76.21%;
  bottom: 37.76%;
  top: 58.25%;
  overflow: visible;
}
.vector30 {
  width: 15.67%;
  height: 20.1%;
  position: absolute;
  right: 26.67%;
  left: 57.66%;
  bottom: 24.78%;
  top: 55.12%;
  overflow: visible;
}
.vector31 {
  width: 20.77%;
  height: 11.94%;
  position: absolute;
  right: 26.67%;
  left: 52.56%;
  bottom: 32.95%;
  top: 55.11%;
  overflow: visible;
}
.clip-path-group {
  height: auto;
  position: absolute;
  left: 238.3px;
  top: 182.16px;
  overflow: visible;
}
.vector32 {
  width: 2.86%;
  height: 2.86%;
  position: absolute;
  right: 37.52%;
  left: 59.62%;
  bottom: 28.38%;
  top: 68.75%;
  overflow: visible;
}
.frame-124 {
  background: #ffffff;
  border-radius: 20px;
  border-style: solid;
  border-color: #25b0a3;
  border-width: 1px;
  padding: 44px 31px 44px 31px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 445px;
  height: 832px;
  position: absolute;
  left: 889px;
  top: 610px;
}
.full-name {
  flex-shrink: 0;
  width: 382px;
  height: 70px;
  position: static;
}
.seu-nome-completo {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-147 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  width: 382px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 70px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.corporate-email {
  flex-shrink: 0;
  width: 382px;
  height: 70px;
  position: static;
}
.seu-email-corporativo {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 139px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-148 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  width: 382px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 165px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.number {
  flex-shrink: 0;
  width: 382px;
  height: 70px;
  position: static;
}
.seu-n-mero {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 234px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-149 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  width: 382px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 260px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.enterprise {
  flex-shrink: 0;
  width: 382px;
  height: 70px;
  position: static;
}
.sua-empresa {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 329px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-150 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  width: 382px;
  height: 44px;
  position: absolute;
  left: 31px;
  top: 355px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.contributor {
  flex-shrink: 0;
  width: 382px;
  height: 71px;
  position: static;
}
.seus-colaboradores {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 424px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.contributorsbar {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
  justify-content: flex-start;
  height: 45px;
  position: absolute;
  left: 31px;
  top: 450px;
  overflow: hidden;
}
.group-185 {
  flex-shrink: 0;
  width: 358px;
  height: 19px;
  position: static;
}
.escolha-uma-op-o {
  color: #393939;
  text-align: left;
  font-family: "LexendDeca-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 12px;
  top: 12px;
  width: 329.36px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.polygon-3 {
  width: 15.91px;
  height: 10px;
  position: absolute;
  left: 354.09px;
  top: calc(50% - -4.5px);
  overflow: visible;
}
.menos-de-100 {
  color: #393939;
  text-align: left;
  font-family: "LexendDeca-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.entre-100-e-500 {
  color: #393939;
  text-align: left;
  font-family: "LexendDeca-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.entre-500-e-1000 {
  color: #393939;
  text-align: left;
  font-family: "LexendDeca-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.mais-de-1000 {
  color: #393939;
  text-align: left;
  font-family: "LexendDeca-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.message {
  flex-shrink: 0;
  width: 382px;
  height: 148px;
  position: static;
}
.sua-mensagem {
  color: #000000;
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 31px;
  top: 520px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-152 {
  background: #ffffff;
  border-radius: 10px;
  border-style: solid;
  border-color: #b3b3b3;
  border-width: 1px;
  width: 382px;
  height: 122px;
  position: absolute;
  left: 31px;
  top: 546px;
  box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
.group-192 {
  width: 14px;
  height: 13px;
  position: absolute;
  left: 394px;
  top: 652px;
  overflow: visible;
}
.privacity {
  flex-shrink: 0;
  width: 285px;
  height: 19px;
  position: static;
}
.aceito-as-pol-ticas-de-privacidade {
  text-align: left;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  left: 53px;
  top: 693px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.aceito-as-pol-ticas-de-privacidade-span {
  color: #000000;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.aceito-as-pol-ticas-de-privacidade-span2 {
  color: #334862;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.aceito-as-pol-ticas-de-privacidade-span3 {
  color: #000000;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 15px;
  font-weight: 700;
}
.rectangle-154 {
  background: #ffffff;
  border-radius: 2px;
  border-style: solid;
  border-color: #676767;
  border-width: 1px;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 31px;
  top: 695px;
}
.enviar {
  flex-shrink: 0;
  width: 382px;
  height: 50px;
  position: static;
}
.rectangle-153 {
  background: linear-gradient(
    90deg,
    rgba(16, 74, 69, 1) 0%,
    rgba(37, 176, 163, 1) 68.00000071525574%
  );
  border-radius: 10px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 382px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 737px;
}
.enviar2 {
  color: #ffffff;
  text-align: center;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: calc(50% - 42.5px);
  top: calc(50% - -333px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gostaria-de-um-or-amento-sob-medida-para-suas-necessidades-converse-com-um-de-nossos-consultores {
  text-align: left;
  position: absolute;
  left: 103px;
  top: 892px;
  width: 509px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.gostaria-de-um-or-amento-sob-medida-para-suas-necessidades-converse-com-um-de-nossos-consultores-span {
  color: #000000;
  font-family: "LexendDeca-Light", sans-serif;
  font-size: 30px;
  font-weight: 300;
}
.gostaria-de-um-or-amento-sob-medida-para-suas-necessidades-converse-com-um-de-nossos-consultores-span2 {
  color: #000000;
  font-family: "LexendDeca-Light", sans-serif;
  font-size: 36px;
  line-height: 99.3%;
  font-weight: 300;
}
.gostaria-de-um-or-amento-sob-medida-para-suas-necessidades-converse-com-um-de-nossos-consultores-span3 {
  color: #25b0a3;
  font-family: "LexendDeca-Bold", sans-serif;
  font-size: 20px;
  line-height: 99.3%;
  font-weight: 700;
}
.footer {
  width: 1440px;
  height: 474px;
  position: absolute;
  left: calc(50% - 720px);
  top: 2002px;
}
.rectangle-13 {
  background: #282828;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.line-2 {
  margin-top: -1px;
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 85.56%;
  height: 0%;
  position: absolute;
  right: 7.22%;
  left: 7.22%;
  bottom: 36.92%;
  top: 63.08%;
}
.copyright-2024-educa-o-digital-unificada {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 38.06%;
  left: 38.12%;
  width: 23.82%;
  bottom: 24.26%;
  top: 71.1%;
  height: 4.64%;
}
.group-18 {
  position: absolute;
  inset: 0;
}
.sobre2 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 46.81%;
  left: 50%;
  width: 3.19%;
  bottom: 67.72%;
  top: 27.64%;
  height: 4.64%;
}
.cursos2 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 46.18%;
  left: 50%;
  width: 3.82%;
  bottom: 58.86%;
  top: 36.5%;
  height: 4.64%;
}
.contato3 {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 45.56%;
  left: 50%;
  width: 4.44%;
  bottom: 50%;
  top: 45.36%;
  height: 4.64%;
}
.in-cio {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 47.01%;
  left: 50%;
  width: 2.99%;
  bottom: 76.58%;
  top: 18.78%;
  height: 4.64%;
}
.menu {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  right: 46.11%;
  left: 50%;
  width: 3.89%;
  bottom: 85.44%;
  top: 9.92%;
  height: 4.64%;
}
.group-19 {
  position: absolute;
  inset: 0;
}
.fale-conosco {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 30.76%;
  left: 61.94%;
  width: 7.29%;
  bottom: 76.58%;
  top: 18.78%;
  height: 4.64%;
}
.suporte {
  color: #ffffff;
  text-align: left;
  font-family: "Lato-ExtraBold", sans-serif;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  right: 32.29%;
  left: 61.94%;
  width: 5.76%;
  bottom: 85.44%;
  top: 9.92%;
  height: 4.64%;
}
.group-21 {
  position: absolute;
  inset: 0;
}
.educar-a-mente-sem-educar-o-cora-o-n-o-educa-o {
  color: #6c6c6c;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 62.43%;
  left: 7.15%;
  width: 30.42%;
  bottom: 83.97%;
  top: 9.92%;
  height: 6.12%;
}
.group-20 {
  width: 138px;
  height: 43px;
  position: static;
}
.rectangle-14 {
  background: #25b0a3;
  border-radius: 20px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 9.58%;
  height: 9.07%;
  position: absolute;
  right: 83.26%;
  left: 7.15%;
  bottom: 73.42%;
  top: 17.51%;
}
.feedback {
  color: #000000;
  text-align: left;
  font-family: "Lato-Bold", sans-serif;
  font-size: 18px;
  font-weight: 700;
  position: absolute;
  right: 86.53%;
  left: 8.12%;
  width: 5.35%;
  bottom: 75.74%;
  top: 19.62%;
  height: 4.64%;
}
.feedback2 {
  width: 2.29%;
  height: 6.96%;
  position: absolute;
  right: 84.24%;
  left: 13.47%;
  bottom: 74.47%;
  top: 18.57%;
  overflow: visible;
}
.logo-edu-1 {
  width: 5.28%;
  height: 16.46%;
  position: absolute;
  right: 87.57%;
  left: 7.15%;
  bottom: 1.9%;
  top: 81.65%;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
}
.stacked-wave-1 {
  width: 1440px;
  height: 560px;
  position: absolute;
  left: calc(50% - 720px);
  top: 1452px;
  overflow: hidden;
}
.mask-group {
  height: auto;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.slice-2 {
  width: 1440px;
  height: 1024px;
  position: absolute;
  left: 0px;
  top: 1452px;
}
